{
  "parser": "babel-eslint",
  "plugins": ["react", "flowtype", "jsx-a11y", "import"],
  "extends": ["airbnb"],
  "rules": {
    "radix": [
      "error",
      "as-needed"
    ],
    "no-multi-spaces": [
      "error",
      {
        "ignoreEOLComments": true
      }
    ],
    "max-len": [
      "error",
      {
        "code": 100,
        "ignoreComments": true,
        "ignoreTrailingComments": true,
        "ignoreUrls": true,
        "ignoreTemplateLiterals": true
      }
    ],
    "no-use-before-define": [
      "error",
      {
        "variables": false
      }
    ],
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [".js", ".jsx"]
      }
    ],
    "react/prefer-stateless-function": [
      2,
      {
        "ignorePureComponents": true
      }
    ],
    "react/forbid-prop-types": [
      0,
      {
        "forbid": []
      }
    ],
    "lines-between-class-members": 0,
    "import/extensions": [
      1,
      "never",
      {
        "svg": "always"
      }
    ],
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": true,
        "optionalDependencies": false,
        "peerDependencies": false
      }
    ],
    "semi": [2, "never"]
  },
  "env": {
    "jest": true,
    "browser": true
  }
}
